# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/pluto-server/build.gradle.kts
/pluto-server/src/minecraft
/paper-server
/pufferfish-server
/pluto-api/build.gradle.kts
/paper-api
/paper-api-generator
/pufferfish-api

.idea/
